src/main/webapp/WEB-INF/security.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="security">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="rule">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="url" type="xs:string" />
							<xs:element maxOccurs="unbounded" name="role" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>